body,
html {
  margin: 0;
  background-color: #222;
  height: 100%;
}

.header {
  position: relative;
  margin: 0 auto;
  height: 60px;
  background-color: #4a752c;
  font-size: 16px;
  color: #fff;
}

.level,
.message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px 4px;
}
.header .level {
  left: 20px;
  font-size: 15px;
  outline: none;
}

.header .message {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.message span {
  font-size: 20px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.message i {
  background-size: cover;
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: bottom;
}

.message i:first-child {
  background-image: url(./imgs/flag_icon.png);
}

.message i:last-of-type {
  background-image: url(./imgs/clock_icon.png);
  margin: 0 6px 0 15px;
}

.easy {
  margin-top: 130px;
}
.medium {
  margin-top: 100px;
}
.hard {
  margin-top: 70px;
}

#board {
  margin: auto;
  background-color: #aad751;
}

#board .row span {
  box-sizing: border-box;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
}
.easy .row span {
  line-height: 45px;
}
.medium .row span {
  line-height: 30px;
}
.hard .row span {
  line-height: 28px;
}

#board .row:nth-child(2n+1) span:not(.circle):not(.falseFlag):nth-child(2n+1)::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
}

#board .row:nth-child(2n) span:not(.circle):not(.falseFlag):nth-child(2n)::before {
  content: '';
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
}

.easy .row span,
.easy .row span::before {
  height: 45px;
  width: 45px;
}

.medium .row span,
.medium .row span::before {
  height: 30px;
  width: 30px;
}

.hard .row span,
.hard .row span::before {
  height: 28px;
  width: 28px;
}

#board .mine {
  background: center/cover url(./imgs/地雷.png);
}

#board .turn {
  background-color: #e5c29f;
}

#board .mCount {
  text-align: center;
  background-color: #e5c29f;
  font-size: 21px;
  font-weight: 1000;
  color: #666;
}

.medium .mayMine {
  background: url(./imgs/flag_plant.png) no-repeat;
  background-size: 30px 303.75px;
  animation: bgiMedium .2s steps(9) forwards;
}

.hard .mayMine {
  background: url(./imgs/flag_plant.png) no-repeat;
  background-size: 28px 283.5px;
  animation: bgiHard .2s steps(9) forwards;
}

.easy .mayMine {
  background: url(./imgs/flag_plant.png) no-repeat;
  background-size: 45px 455.625px;
  animation: bgiEasy .2s steps(9) forwards;
}

@keyframes bgiHard {
  to {
    background-size: 28px 283.5px;
    background-position: 0px -254.5px;
  }
}

@keyframes bgiMedium {
  to {
    background-size: 30px 303.75px;
    background-position: 0px -273.75px;
  }
}


@keyframes bgiEasy {
  to {
    background-size: 45px 455.625px;
    background-position: 0px -410px;
  }
}

#board .row span.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale3d(0, 0, 0);
  animation: circle 0.2s forwards;
}

#board .row span.falseFlag {
  position: absolute;
  display: inline-block;
  background: url('./imgs/incorrect_flag.png') center/cover;
  left: 0;
  top: 0;

}

@keyframes circle {
  to {
    transform: scale3d(1, 1, 1);
  }
}

.dialog {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 999px 999px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}
.dialog .result {
  width: 300px;
  height: 225px;
  background-color: #4dc1f9;
  border-radius: 8px;
}
.dialog.win .result {
  height: 250px;
}
.dialog .result .finTime {
  font: 400 28px Roboto,Arial,sans-serif;
  color: white;
}
.dialog .btn {
  width: 300px;
  height: 64px;
  margin: 12px auto;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 20px;
  background: #4a752c;
  text-align: center;
}

.dialog span {
  display: inline-block;
  cursor: pointer;
  background-color: #4a752c;
  border: none;
  outline: none;
  font: 400 20px Roboto, Arial, sans-serif;
  color: #fff;
  margin-top: 20px;
}

.dialog.win .result {
  background : url(./imgs/win_screen.png) #4dc1f9 center bottom/contain no-repeat;
}
.dialog.lose .result {
  background: url(./imgs/lose_screen.png) #4dc1f9 center bottom/contain no-repeat;
}
.dialog .clock,
.dialog .trophy {
  display: inline-block;
  margin-top: 25px;
  margin-left: 36px;
  margin-right: 36px;
  text-align: center;
}

.dialog .clock img,
.dialog .trophy img {
  width: 60px;
  height: auto;
}


.dialog .clock div,
.dialog .trophy div {
  font: 400 28px Roboto,Arial,sans-serif;
  color: white;
}



.dialog .btn img {
  vertical-align: middle;
  margin: 0 16px 2px 0;
  width: 30px;
  height: 30px;
}


.easy .header,
.easy #board {
  width: 450px;
}
.medium .header,
.medium #board {
  width: 540px;
}
.hard .header,
.hard #board {
  width: 672px;
}

#root {
  overflow: hidden;
}